################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WpfCesium/.vs
/WpfCesium/obj
/WpfCesium/bin
/WpfCesium/lib/cesium
*.user
